@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}
<h3>Hello, @ViewBag.st.FirstName</h3>
<br /><br />
<h4>Please Select any of the Exams that are availabe for you</h4>

<form method="post" action="/Student/ExamStart">
    <select name="ExamId" class="custom-select form-control">
        <option selected disabled>Choose Your Exam...</option>
        @{ 
            for (int i = 0; i < ViewBag.NumberOfExams; i++)
            {
                <option value="@ViewBag.Exams[i].ExamId">@ViewBag.Exams[i].ExamName</option>
            }
         }
    </select>
    <input type="submit" class="btn btn-success" value="Start Exam" />
</form>