@model OnlineExamPortal.Models.Student
@{
    ViewBag.Title = "Admin";
}

<form action="/Admin/Test" method="post">
    <input type="text" name="text" placeholder="Hello World! Enter Something" />
    <input type="submit" value="Submit" />
</form>
